.rootGrid {
  padding: 0.5rem;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.home {
  padding-left: 0 !important;
  margin-left: 0 !important;
  .button {
    height: 40px;
    color: #fff !important;
    text-transform: none !important;
  }
}

.headerContainer {
  width: 85%;
  @media only screen and (max-width: 1000px) {
    width: 70%;
  }
  @media only screen and (max-width: 900px) {
    width: 60%;
  }
}

.mainText {
  justify-content: center;
  p {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
  }
}
